table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.row1 {
  background-color: #e0f7fa; 
  color: #006064; 
}

.row2 {
  background-color: #fce4ec; 
  color: #880e4f;
}

.row3 {
  background-color: #e8f5e9; 
  color: #1b5e20; 
}

.row4 {
  background-color: #fff3e0; 
  color: #e65100; 
}

.row5 {
    background-color: #ede7f6; 
    color: #311b92; 
}

tr:nth-child(even) {
  background-color: #f9f9f9; 
}
