body {
  background-image: url('./clg.'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); 
}

.department-logo {
  width: 150px; 
  margin-bottom: 10px;
}

.header h1 {
  font-size: 2.5em; 
  margin-bottom: 5px;
}

.header p {
  font-size: 1em; 
}

.courses {
  background-color: rgba(255, 255, 255, 0.7); 
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  max-width: 800px;
  border-radius: 10px;
}

.courses h2 {
  color: #007bff;
  font-size: 1.8em;
  margin-bottom: 15px;
  text-align: center;
}

.courses ul {
  list-style-type: square;
  color: #333;
  font-size: 1.1em;
  line-height: 1.6;
}

.courses ul li{
    margin-bottom: 8px;
}

